.body{
  font-family: 'Poppins', sans-serif;
}


.mark .land{
  fill:#137B80;
}

.mark .sphere{
  fill: #eceeec;
}

.mark .interiors{
  fill:none;
  stroke: #339498;
}

.mark .graticules{
  fill:none;
  stroke: #dadada;
}